html body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #373b44, #4286f4);
  overflow: auto;
}

body::-webkit-scrollbar {
  width: 1px;
}
body::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.3);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6);
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #2c3e50;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 20px;
}

.sidebar a:hover {
    background: #3498db;
}

.sidebar-toggle {
    position: fixed;
    top: 6px;
    right: 11px;
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    z-index: 2000;
    transition: background-color 0.3s ease;
    background: linear-gradient(135deg, #373b44, #4286f4);
    font-style: normal;
}

.sidebar-toggle:hover {
  background-color: rgba(0, 123, 255, 0.2); 
  border-radius: 5px; 
}

.sidebar-toggle:focus {
    outline: none;
}

section {
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    padding: 40px;
    max-width: 90%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9; 
    overflow: auto;
    margin-bottom: 30px;
}

section#about {
  margin-top: 120px;
}

#projects,
#references,
#certification,
#experience,
#education {
  max-width: 50%;
}

#competences,
#ongoing {
  max-width: none;
  width: 100%;
  margin: 0 0 30px;
}


.two-column-container {
  display: flex;
  gap: 30px;
  max-width: 90%;
  margin: auto;
  align-items: stretch; 
}

.two-column-container section {
  flex: 1;
  display: flex;
  flex-direction: column;
}


#ongoing ul {
  flex: 1;
}

a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); 
    z-index: 0;
}

h1 {
  color: #3498db;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000; 
  color: #dbe9f4; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.header-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 8px 16px;
  display: flex;
  align-items: start;
  gap: 12px;
  justify-content: start;
}


#header-photo img {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #0077b6; 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

#header-photo img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 119, 182, 0.5);
}

#header-text {
  text-align: start;
  margin-top: 30px;
}

#header-text h1 {
  font-size: 1.1rem;
  color: #3498db;
  font-weight: 700;
  line-height: 1.2;
}

#header-text p {
  font-size: 0.8rem;
  color: #aad4ff;
  font-weight: 500;
  margin-top: 2px;
  white-space: normal; 
  opacity: 0.85;
  word-break: break-word; 
}


.modal-img {
  width: 100%;
  max-width: 900px;
  height: auto; 
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: block;
  object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar a.active {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.6);
  overflow: auto;
}

.modal-content {
  background-color: lightcyan;
  margin: 10% auto;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px; right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

button {
  margin-left: 10px;
  background: none;
  border: none;
  color: #3498db;
  cursor: pointer;
  text-decoration: none;
  font-style: italic;
}

.modal-content p {
  margin-bottom: 1.2rem; 
  line-height: 1.6;       
}

.modal-content ul {
  margin-left: 1.5rem;   
  margin-bottom: 1.2rem;  
  padding-left: 1rem;
}

.modal-content li {
  margin-bottom: 0.8rem;
  line-height: 1.5;
}


.project-section {
  width: 100%;
  padding: 1rem;
  position: relative;
  overflow-x: auto;
}

.slider-controls {
  position: relative;
}

.project-slider {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.project-card {
  flex: 0 0 auto;
  width: 260px; 
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  position: relative; 
  overflow: hidden; 
}

.project-card:hover {
  transform: translateY(-5px);
}

.slide-btn {
  display: none;
}

.slide-btn:hover {
  background-color: #2c80b4;
}


.project-head {
  grid-column: 1 / -1;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0.5rem 0 1rem;
  text-align: left;
  color: #2c3e50;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top center;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card p {
  font-size: 1rem;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 10px;
}

.project-card button{
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.project-card button:hover {
  background-color: #2980b9;
}

  
  .project-card p a {
    color: #3498db;
    text-decoration: none;
  }
  
  .project-card p a:hover {
    text-decoration: underline;
  }

  .project-card .mobile-view {
    position: absolute;
    bottom: 80px;
    left: 10px;
    width: 60px; 
    height: 110px;
    border: 2px solid #000;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }

  .project-card .pc{
    border: 2px solid #000;
  }

  .project-card .pc-view{
    border: 2px solid #000;
    display: block;
    width: 100%;
    height: auto;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: black;
    padding: 0.2rem 0;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .footer-text {
    text-align: center; 
    color: #ccc;
    font-size: 0.8rem;
  }
  
  .contact-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: center;  
  }
  
  
  .contact-icons a {
    font-size: 1.3rem;
    color: #3498db;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .contact-icons a:hover {
    color: #1d6fa5;
    transform: scale(1.2) rotate(5deg);
  }
  
  .expandable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
  }
  
  .expandable.show {
    max-height: 500px;
  }
 
  
  main {
    margin-top: 50px;
    margin-bottom: 90px;
    position: relative; 
    z-index: 1;        
    overflow: auto;     
  }


  #tools {
    background-color: #f9f9f9;
  }
  
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 2rem;
    justify-items: center;
    align-items: center;
  }
  
  .logo-item {
    text-align: center;
  }
  
  .logo-item img {
    max-width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 0.5rem;
  }
  
  .logo-item span {
    display: block;
    font-size: 0.9rem;
    color: #333;
  }

  .certref-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem;
  }
  
  .certref-card {
    display: inline-block;
    text-align: center;
    width: 200px;
    margin: 1rem;
    text-decoration: none;
    color: inherit;
  }
  
  .certref-card:hover {
    transform: rotate(0deg) scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  }
  
  .certref-card figure {
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  
  .certref-card img {
    width: 200px;         
    height: 150px;        
    object-fit: cover;    
    border-radius: 10px;
    transition: transform 0.3s ease;
  }

  .certref-card:hover img {
    transform: scale(1.05); 
  }
  
  .certref-card figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #333;
}
  
  
#certModal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  cursor: zoom-out;
}


#certModal img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  object-fit: contain;
}

.slide-btn {
  display: none;
}

.scroll-button {
  display: none !important;
}


@media (max-width: 600px) {
  #header-photo img {
    width: 50px;
    height: 50px;
  }

  #header-text h1 {
    font-size: 1.4rem;
  }

  #header-text p {
    font-size: 0.8rem;
  }

  .two-column-container {
    flex-direction: column;
  }

  .two-column-container section {
    max-width: 100%;
  }

  #header-text {
    margin-top: 10px;
  }
  
}


@media screen and (max-width: 900px) {
  .slide-btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: background 0.3s;
  }

  .slide-btn:hover{
    background-color: rgba(200, 200, 200, 0.9);
  }

  .slide-btn.left {
    left: 0;
  }

  .slide-btn.right {
    right: 0;
  }

  .slider-controls {
    position: relative;
  }
  
  .scroll-button:hover {
    background-color: rgba(200, 200, 200, 0.9);
  }
  
  .scroll-button.left {
    left: 0;
  }
  
  .scroll-button.right {
    right: 0;
  }

  .certref-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: none;
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: background 0.3s;
    display: inline-block !important;
  }
}

  
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    
    section {
        padding: 30px;
        max-width: 90%;
        font-size: 13px; 
    }

    #projects,
    #references,
    #certification,
    #experience,
    #education {
  max-width: 90%;
}

    #competences {
      margin-bottom: 5px;
    }

    .footer-text {
      text-align: center;
      margin-bottom: 0.01rem;
      font-size: 0.5rem;
    }

    footer {
      gap: 1.5rem;
    }

    .contact-icons {
      margin-top: 0.8rem;
      margin-bottom: 0.8rem; 
      gap: 1rem;
    }
   
    .contact-icons a {
     font-size: 0.8rem;
    }
}


